/*
 * Derived from Django's contrib.admin base.css
 * at 244cc401559e924355cf943b6b8e66ccf2f6da3a
 */
#postgres-metrics {
    float: left;
    width: 100%;
}

.colSM #postgres-metrics {
    float: right;
}

#postgres-metrics .viewlink {
    padding-left: 16px;
    background: url(../../admin/img/search.svg) 0 1px no-repeat;
}

tr.record.record-critical,
tr.record td.item-critical {
    background-color: #ffefef;
}

tr.record.record-warning,
tr.record td.item-warning {
    background-color: #ffffcc;
}

tr.record.record-ok,
tr.record td.item-ok {
    background-color: #ddffdd;
}
